* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(235, 235, 235);
}

.wrapper {
    width: 80%;
    margin:auto;
}

header {
    height: 80px;
    background-color: rgb(255, 255, 255);
}

/* logo header */
#logo{
    vertical-align: middle;  
    margin-left: 40px;
}
#logotype {
    display: inline-block;
    line-height: 80px;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
}

/* sezione principale */
main {
    width: 80vw;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

ul li {
    list-style-type: none;
}

/* barra navigazione */
nav li {
    display: inline-block;
    margin: 0 10px;
    line-height: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0;
    font-size: 12px;
}

#add-task {
    background-color: rgb(50, 180, 240);
    color: white;
}

#add-section {
    border: 1px solid rgb(209, 209, 209);
    color: rgb(218, 218, 218);
}

hr {
    border: 1px solid rgb(235, 235, 235);
    width: 100%;
}

/* task section */
.task-section {
    margin: 20px 0;
}

/* freccia sotto per ciascuna sezione*/
.task-section h1::before {
    content: "\25BC";
    font-size: small;
}

.task-section li {
    line-height: 30px;
    display: block;
    margin: 10px 0;
}

/* vertical align middle settaggio per tutti gli elementi della riga */
.checked, .unchecked, .single-task, .coloured-tag {
    vertical-align: middle;
    display: inline-block;
}

/* simbolo checked */
.checked {
    color: rgb(106, 201, 106);
    border-color: rgb(106, 201, 106);
}

.unchecked {
    color: rgb(167, 24, 24);
    border-color: rgb(167, 24, 24);
}

.circle {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid;
}

/* Nome della task */
.single-task {
    font-weight: 300;
    font-size: 15px;
}

/* tag colorati */
.coloured-tag {
    border-radius: 15px;
    padding: 0 20px;
    color: white;
    font-size: 11px;
    font-weight: bold;
}

#editorial {
    background-color: rgb(40, 106, 228);
}
#q1 {
    background-color: rgb(173, 83, 233);
}
#recruiting {
    background-color: rgb(63, 177, 107);
}
#mobile {
    background-color: rgb(243, 147, 56);
}
#website {
    background-color: rgb(248, 86, 167);
}
#sales {
    background-color: rgb(147, 230, 255);
}

.coloured-tag:hover, nav li:hover {
    text-decoration: underline;
}